<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>$title$</title>

    <link rel="icon" type="image/svg+xml" sizes="any" type="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap");
    </style>
    <link rel="stylesheet" href="/css/main.min.css?v=$timehash$" />

    $if(katex)$
    <!-- KaTeX -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css"
      integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js"
      integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js"
      integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
      crossorigin="anonymous"
      onload="renderMathInElement(document.body);"
    ></script>
    <!-- End KaTeX Code -->
    $endif$

    <meta
      name="google-site-verification"
      content="zktyx9NWxN4_455e9TF-WP6Fh3AYo0Hs62TYwr43QIY"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    $body$
    <footer>
      <small>
        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img
              alt="Creative Commons License"
              style="border-width: 0"
              src="https://licensebuttons.net/l/by/4.0/88x31.png"
            /> </a
          ><br />
          This work is licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
            >Creative Commons Attribution 4.0 International License</a
          >.<br />
          The source of the website is available at
          <a href="https://github.com/wei2912/wei2912.github.io"
            >wei2912/wei2912.github.io</a
          >.<br />
        </p>
      </small>
    </footer>
  </body>
</html>
