<header>$date$ / <a href="/" rel="author">Ng Wei En</a></header>
<h1>$title$</h1>

<div id="content">$body$</div>

<hr />

<aside>
  <p>
    You can view the history of changes made to this post at
    <a href="https://github.com/wei2912/wei2912.github.io/blame/master/$path$"
      >this website's GitHub repository</a
    >.
  </p>
</aside>

<script
  src="https://utteranc.es/client.js"
  repo="wei2912/wei2912.github.io"
  issue-term="title"
  label="comments"
  theme="github-light"
  crossorigin="anonymous"
  async
></script>

<hr />
